table,th,td,tr{
	border: 1px solid #90caf9;
    align: center-left;
    font-size: 50px;
    margin-top: 53px;
    margin-left: 10px;
}

h1{
	text-align: center;
	background-color: Grey;
    color: white;
}
body{
	background-color: #ff9800;
}
button{
	background-color: #5137ab;
    color: white;
    font-size: 31px;
    margin-top: 50px;
    margin-left: 180px;
    border-radius: 8px;
    border-width: thick
	
}
.center{
	margin-left : 200px;
	
}